body {
   background-color: rgb(127, 255, 212);
   display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  height: 100vh;             /* full screen height */
  margin: 0;
}


.square {
    width: 300px;
    height: 300px;
    position: fixed;
    background-color: white;
    border-radius: 20px;
}