body {
   background-color: rgb(127, 255, 212);
   display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  height: 100vh;             /* full screen height */
  
}

#button {
width: 100px;
height: 50px;
background-color:rgb(35, 186, 53);
font-weight: bold;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-right: -30px;
position: fixed;
border-radius: 10px;

}

#numInput {
    width: 130px;
    height: 25px;
    color: rgb(0, 0, 0);
    margin-right: 260px;
    z-index: 2;
    background-color: white;
    border-radius: 10px;
    
}


#message1 {
    position: fixed;
    margin-top: -100px;
    font-size: 100px;
    margin-left: -90px;
}


.square {
    position: fixed;
    width: 400px;
    height: 250px;
    background-color: aliceblue;
    z-index: 0;
    margin-left: -100px;
    margin-top: -120px;
    border-radius: 20px;
}

.square2 {
    width: 150px;
    height: 40px;
    position: fixed;
    background-color: rgba(229, 229, 232, 0.973);
    border-radius: 20px;
    top: 10px;
    left: 15px;
    background-color: white;
    z-index: 10;

}

.logo {
     font-size: 20px;
    position: fixed;
    z-index: 50;
    top: 0px;
    left: 30px;
    font-weight: 999;
}


.square3 {
    position: fixed;
    width: 600px;
    height: 900px;
    background-color: aliceblue;
    right: 100px;
    border-radius: 40px;

}

#chat {
    position: fixed;
    font-size: 100px;
    right: 280px;
    top: 125px;
}

#chatvalue {
    position: fixed;
    font-size: 50px;
    right: 380px;
}