body {
   background-color: rgb(127, 255, 212);
   display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  height: 100vh;             /* full screen height */
  
}

#numInput {
  width: 130px;
  height: 25px;
  border-radius: 10px;
}

#button {
  width: 100px;
  height: 50px;
  background-color: rgb(35, 186, 53);
  border-radius: 10px;
}


#message1 {
    position: fixed;
    margin-top: -100px;
    font-size: 100px;
    margin-left: -90px;
}


.square {
    position: fixed;
    width: 400px;
    height: 250px;
    background-color: aliceblue;
    z-index: 0;
    margin-left: -100px;
    margin-top: -120px;
    border-radius: 20px;
}

.square3 {
  width: 600px;
  height: 900px;
  background-color: aliceblue;
  border-radius: 40px;

  /* REMOVE fixed */
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
     font-size: 20px;
    position: fixed;
    z-index: 50;
    top: 0px;
    left: 30px;
    font-weight: 999;
}


.square3 {
    position: fixed;
    width: 600px;
    height: 900px;
    background-color: aliceblue;
    right: 100px;
    border-radius: 40px;

}

#chat {
    position: fixed;
    font-size: 100px;
    right: 280px;
    top: 125px;
}

#chatvalue {
  margin-top: 20px;
  padding: 12px 16px;
  background-color: white;
  border-radius: 12px;

  max-width: 80%;
  width: fit-content;

  font-size: 18px;
  word-wrap: break-word;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.input-area {
  margin-top: auto;
  display: flex;
  gap: 10px;
}