body {
background: linear-gradient(to bottom, rgb(204, 183, 183), rgb(47, 47, 47));
   display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  height: 100vh;             /* full screen height */
  
}



.icon {
  border-radius: 30px; /* or 50% for circle */
}

.input-area {
  position: relative;
  width: 450px;
  height: 300px;
  margin-left: 70px;
  margin-top: 120px;
  background-color: aliceblue;
  border-radius: 10px;
}

#numInput {
  width: 230px;
  height: 25px;
  margin-top: 225px;
  margin-left: 50px;
  font-size: 5px;
  position: absolute;

}

#button {
  height: 25px;
  width: 100px;
  margin-top: 225px;
  margin-left: 320px;
  background-color: rgb(188, 41, 41);

}

.logosquare {
  height: 40px;
  width: 150px;
  background-color: rgba(255, 255, 17, 0.926);
  left: 15px;
  top: 15px;
  position: absolute;
  border-radius: 10px;
  
}

.logo {
  position: absolute;
  top: -5px;
  left: 27px;
}

#square {
  position: relative;
  top: -10px;
  right: -140px;
  background-color: aliceblue;
  width: 550px;
  height: 700px;
  border-radius: 30px;
}

#chat {
  font-size: 70px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  left: 200px;
  top: -50px;
  position: absolute;
}

#chatvalue {
  border-style: solid;
  width: 435px;
  height: 560px;
  background-color: rgb(255, 255, 255);
  right: 54px;
  top: 50px;
  font-size: 50px;
  position: absolute;
}




